.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6fa; /* Light Purple */
  }
  
  form {
    background-color: #fff;
    padding: 40px; /* Increased padding */
    border-radius: 8px; /* Increased border radius */
    text-align: center;
    max-width: 500px; /* Increased maximum width */
    margin: 0 auto; /* Center horizontally */
  }
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: right;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: "right"
  
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #3f0e56;
    border-radius: 4px;
    color: #3f0e56;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  body{
    background-color: #e6e6fa; /* Light Purple */
}
