.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .cart-table th,
  .cart-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .cart-table img {
    max-width: 50px;
    max-height: 50px;
  }
  
  .total-amount {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .pay-button {
    background-color:  pink;
    color:  black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pay-button:hover {
    background-color:  rgba(176, 31, 31, 0.742);
  }

  .empty{
   text-align: center;
  }
  