body{
    background-color: #e6e6fa; /* Light Purple */
}

  
  .user-name {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
 
  
  .user-navigation {
    margin-top: 30px;
  }
  
  .user-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .user-navigation ul li {
    margin-right: 20px;
  }
  
  .user-navigation ul li:last-child {
    margin-right: 0;
  }
  
  .user-navigation a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .user-navigation a:hover {
    color: #0056b3;
  }

  .users-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    position:relative; /* Add position relative for positioning the exit button */
  }
  
  .logout-button {
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .personal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .shoppingCart-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color:  #0069d9;
  }